<% if resource.errors.any? %>
<div id="error_explanation">
  <div class="card border-danger mb-3" style="max-width: 30rem;">
    <div class="card-body text-danger">
      <h5 class="card-title">
        <%= I18n.t("errors.messages.not_saved",
         count: resource.errors.count,
         resource: resource.class.model_name.human.downcase)
         %>
       </h5>
       <% resource.errors.full_messages.each do |message| %>
       <ul>
         <li class="card-text"><%= message %></li>
       </ul>
       <% end %>
     </div>
   </div>
 </div>
 <% end %>
