<h1 class="text-center">Welcome to my site</h1>
<div class="wrapper text-center">
<div id="container1" class="twentytwenty-container">
  <%= image_tag 'covid.jpg'%>
  <%= image_tag 'forex.jpg'%>
</div>

<%= link_to 'Start', search_path, class: 'btn btn-success btn-lg start-btn'%>

</div>

